<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, userTest-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Редактирование фильмов</title>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-xxl">
            <a class="navbar-brand">Библиотека фильмов</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page"
                           href="http://localhost:8080">Главная</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Поиск по типу
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="http://localhost:8080/figures/1">Актеры</a></li>
                            <li><a class="dropdown-item" href="http://localhost:8080/figures/2">Режиссеры</a></li>
                            <li><a class="dropdown-item" href="http://localhost:8080/figures/3">Сценаристы</a></li>
                            <li><a class="dropdown-item" href="http://localhost:8080/figures/4">Продюссеры</a></li>
                            <li><a class="dropdown-item" href="http://localhost:8080/figures/5">Операторы</a></li>
                            <li><a class="dropdown-item" href="http://localhost:8080/figures/6">Художники</a></li>
                            <li><a class="dropdown-item" href="http://localhost:8080/figures/7">Монтажёры</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Поиск по жанру
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="http://localhost:8080/genres/1">Боевик</a></li>
                            <li><a class="dropdown-item" href="http://localhost:8080/genres/2">Детектив</a></li>
                            <li><a class="dropdown-item" href="http://localhost:8080/genres/3">Драма</a></li>
                            <li><a class="dropdown-item" href="http://localhost:8080/genres/4">Комедия</a></li>
                            <li><a class="dropdown-item" href="http://localhost:8080/genres/5">Мелодрама</a></li>
                            <li><a class="dropdown-item" href="http://localhost:8080/genres/6">Триллер</a></li>
                            <li><a class="dropdown-item" href="http://localhost:8080/genres/7">Ужасы</a></li>
                            <li><a class="dropdown-item" href="http://localhost:8080/genres/8">Фантастика</a></li>
                            <li><a class="dropdown-item" href="http://localhost:8080/genres/10">Документальный</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="mr-2" action="http://localhost:8080/profile">
                    <button class="btn btn-outline-success" type="submit">Профиль</button>
                </form>
                <form class="d-flex" action="/search" method="get">
                    <input class="form-control me-2" type="search" name="searchQuery" placeholder="Search"
                           aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Поиск</button>
                </form>
            </div>
        </div>
    </nav></header>
<main>
    <div class="container">
        <h3 class="mt-2">Список фильмов</h3>
        <div class="mt-3"><p th:text="${films}"/></div>
        <h3 class="mt-2">Список жанров</h3>
        <div class="mt-3"><p th:text="${genres}"/></div>

        <div>
            <h3 class="mt-5">Добавление фильма в базу данных: </h3><br>
            <form action="/film/add" method="post"><br>
                <input type="text" name="title" placeholder="Название фильма"
                       class="form-control"><br>
                <input type="text" name="released" placeholder="Год выхода (4 цифры)"
                       class="form-control"><br>
                <input type="text" name="country" placeholder="Страна выхода" class="form-control"><br>
                <input type="text" name="genre_id" placeholder="Id жанра фильма (список id в начале страницы)"
                       class="form-control"><br>
                <input type="text" name="description" placeholder="Описание (не больше 254 символов)"
                       class="form-control"><br>
                <input type="text" name="studio" placeholder="Студия производства"
                       class="form-control"><br>
                <input type="text" name="photo_href" placeholder="Ссылка на фотографию"
                       class="form-control"><br>
                <button type="submit" class="btn btn-success">Добавить в базу</button>
                <br>
            </form>

            <h3 class="mt-5">Удаление фильма из базы данных по ID: </h3><br>
            <form action="/film/delete" method="post" class="mb-3"><br>
                <input type="text" name="id" class="form-control"><br>
                <button type="submit" class="btn btn-success">Удалить из базы</button>
                <br>
            </form>
        </div>
    </div>

</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"/>
</body>
</html>