<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, userTest-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/style.css}">
    <title>Редактирование фильма</title>
</head>
<body>
<header th:insert="header :: header"></header>

<div class="container">

    <h3 class="mt-2">Название фильма</h3>
    <div><p th:text="${film.title}"/></div>

    <h3 class="mt-2">Список фигур в фильме</h3>

    <table>
        <tr th:each="figure : ${film.figures}" class="film_persons_type">
            <th>
                <p th:text="${figure.fullname}"/>
            </th>
            <th>
                <p th:text="${figure.typeId.title}"/>
            </th>
            <th>
                <form th:action="@{http://localhost:8080/film/deleteFigure/{figureId}(figureId=${figure.id})}"
                      method="post">
                    <input type="hidden" name="filmId" th:value="${film.id}" class="form-control">
                    <button type="submit" class="btn btn-success">Удалить</button>
                </form>
            </th>
        </tr>
    </table>

   <!-- <h3 class="mt-5">Список доступных фигур</h3>
    <div class="mt-2"><p th:text="${figures}"/></div>-->

    <h3 class="mt-2">Добавление деятеля кино в фильма по ID: </h3>
    <form action="/film/addFigure/" method="post">
        <!-- <input type="text" name="figureId" class="form-control" placeholder="Id фигуры"><br> -->
        <input type="search" id="figureName" placeholder="Search"
               aria-label="Search" oninput="findFigure()">
        <div id="figuresList"></div><br/>
        <input type="hidden" name="filmId" th:value="${film.id}" class="form-control">
        <button type="submit" class="btn btn-success mb-3">Добавить в базу</button>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>

<script>
   function findFigure()
   {
        // var searchName = document.getElementsByName("figureName")[0].value;
        var searchName = figureName.value;
        var request = new XMLHttpRequest();
        request.open("GET", "/search-figures/" + searchName, true);
        request.setRequestHeader("content-type", "text/html");
        request.setRequestHeader("charset", "UTF-8");
        request.addEventListener("load", function ()
        {
            figuresList.innerHTML = request.response;
        });
        request.send();
   }
</script>

</body>
</html>