<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="'Список пользователей'"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<main>
    <div class="container">
        <h3>Список пользователей + типы пользователей</h3>
        <div class="mt-3"><p th:text="${users}"/></div>
        <div class="mt-3"><p th:text="${usertypes}"/></div>

        <div>
            <h3 class="mt-5">Добавление пользователя в базу данных: </h3><br>
            <form action="/user/add" method="post"><br>
                <input type="text" name="login" placeholder="Логин (не больше 19 символов)" class="form-control"><br>
                <input type="text" name="password" placeholder="Пароль (не больше 30 символов)"
                       class="form-control"><br>
                <input type="text" name="email" placeholder="Емейл"
                       class="form-control"><br>
                <input type="text" name="type_id" placeholder="User Type ID (второй абзац с инфой)"
                       class="form-control"><br>
                <button type="submit" class="btn btn-success">Добавить в базу</button>
                <br>
            </form>
            <h3 class="mt-5">Удаление пользователя из базы данных по ID: </h3><br>
            <form action="/user/delete" method="post"><br>
                <input type="text" name="id" class="form-control"><br>
                <button type="submit" class="btn btn-success">Удалить из базы</button>
                <br>
            </form>
        </div>
    </div>

</main>

</body>
</html>