<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="'Список деятелей кино'"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<main>
    <div class="container">
        <h3>Список деятелей кино (Актёры, режиссёры, все вместе) + Id и называния типов</h3>
        <div class="mt-3"><p th:text="${figures}"/></div>
        <div class="mt-3"><p th:text="${figuretypes}"/></div>

        <div>
            <h3 class="mt-5">Добавление фигуры в базу данных: </h3><br>
            <form action="/figure/add" method="post"><br>
                <input type="text" name="type_id" placeholder="Figure Type ID (второй столбец)"
                       class="form-control"><br>
                <input type="text" name="fullname" placeholder="Полное имя" class="form-control"><br>
                <input type="text" name="sex" placeholder="Пол - 1 буква (М или Ж) (да мы не толерантны)"
                       class="form-control"><br>
                <input type="text" name="birthday" placeholder="Дата рождения в формате ДД/ММ/ГГГГ"
                       class="form-control"><br>
                <button type="submit" class="btn btn-success">Добавить в базу</button>
                <br>
            </form>
            <h3 class="mt-5">Удаление фигуры из базы данных по ID: </h3><br>
            <form action="/figure/delete" method="post"><br>
                <input type="text" name="id" class="form-control"><br>
                <button type="submit" class="btn btn-success">Удалить из базы</button>
                <br>
            </form>
        </div>
    </div>

</main>

</body>
</html>