<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="'Список типов пользователей'"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    <h3>Список типов пользователей (Адмен и обычный работяга)</h3>
    <div class="row row-cols-md-5 mb-3">
        <div class="col themed-grid-col"><p th:text="${usertypes}"/></div>
    </div>
</div>

</body>
</html>